body {
      background-color:aqua;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    color: indianred;
    background-color:rgb(23, 214, 23);
}

.special {
    border: 20px solid green;
}

h1 {
    font-size: 50px;
    font-weight:normal;
    font-style:inherit;
    
}